
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Dosyalar</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item active">
                <a href="/Message/Index/" class="nav-link">
                    <i class="fas fa-inbox"></i> Gelen Kutusu
                    <span class="badge bg-dark float-right">@ViewBag.BuyerMessage</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/MessageSender/" class="nav-link">
                    <i class="far fa-envelope"></i> Gönderilen Mesajlar
                    <span class="badge bg-dark float-right">@ViewBag.SenderMessage</span>
                </a>
            </li>
            @*<li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-file-alt"></i> Drafts
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-filter"></i> Junk
                    <span class="badge bg-warning float-right">65</span>
                </a>
            </li>*@
            <li class="nav-item">
                <a href="/Message/MessageTrashList/" class="nav-link">
                    <i class="far fa-trash-alt"></i> Çöp Kutusu
                    <span class="badge bg-dark float-right">@ViewBag.TrashMessage</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
</div>