@model MVC5Library.Models.TBLMessage
@{
    ViewBag.Title = "MessageNew";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mesajlarım</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <a href="/Message/MessageNew/" class="btn btn-dark btn-block mb-3">Yeni Mesaj</a>

            @Html.Action("Folders", "Message")
            <!-- /.card -->
            @Html.Action("Labels", "Message")
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-dark card-outline">
                <div class="card-header">
                    <h3 class="card-title">Yeni Mesaj Oluştur</h3>
                </div>
                <!-- /.card-header -->
                <form method="post">
                    <div class="card-body">

                        <div class="form-group">
                            <input class="form-control" name="MessageBuyer" placeholder="Kime:">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="MessageSubject" placeholder="Konu:">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Aşağıdan etiket seçebilirsiniz.</label>
                            </div>
                            <div class="form-group clearfix">
                                <div class="icheck-danger d-inline">
                                    <input type="radio" name="MessageLabel" value="Important" id="Important">
                                    <label for="Important">
                                        Önemli
                                    </label>
                                </div>
                                <div class="icheck-warning d-inline ml-2">
                                    <input type="radio" name="MessageLabel" value="Promotions" id="Promotions">
                                    <label for="Promotions">
                                        Promosyon
                                    </label>
                                </div>
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="radio" name="MessageLabel" value="Social" id="Social">
                                    <label for="Social">
                                        Sosyal
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea id="compose-textarea" name="MessageContents" class="form-control"></textarea>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="submit" class="btn btn-dark"><i class="far fa-envelope"></i> Gönder</button>
                        </div>
                        <a href="/Message/Index/" class="btn btn-default"><i class="fas fa-times"></i> Vazgeç</a>
                    </div>
                </form>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
