
<form action="/Studentpanel/CommentAdd/" method="post">
    <div class="form-group">
        <label for="Comment">Mvc5 Kütüphane Hakkında Yorum Yap</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-comment"></i></span>
            </div>
            <textarea id="Comment" name="CommentContent" class="form-control" rows="5" style="resize:none;"></textarea>
        </div>
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-dark">Yorum Gönder</button>
    </div>
</form>
