
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mvc5 Kütüphane Giriş</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" type="image/png" href="~/VitrinTema/assets/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/VitrinTema/assets/img/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/VitrinTema/assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/VitrinTema/assets/img/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="~/VitrinTema/assets/img/icons/android-chrome-512x512.png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminTema/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminTema/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminTema/dist/css/adminlte.min.css">
    <style>
        body {
            align-items: center !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-image: url("../../VitrinTema/assets/img/bgimage.jpg") !important;
            display: flex !important;
            flex-direction: column !important;
            height: 100vh !important;
            justify-content: center !important;
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Showcase/Index/" style="color:white;"><b>Mvc5 Kütüphane</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Giriş Yapmak İçin Aşağıdaki Formu Doldurun.</p>

                <form method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="UserMail" placeholder="E-Posta Adresiniz" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="UserPassword" placeholder="Şifreniz" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["Error"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- VEYA -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Facebook'u kullanarak giriş yapın
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Google+'yı kullanarak oturum açın
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="/Showcase/ForgotPassword/">Şifremi Unuttum.</a>
                </p>
                <p class="mb-0">
                    <a href="/Showcase/Register/" class="text-center">Yeni Üyelik Oluştur.</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminTema/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminTema/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminTema/dist/js/adminlte.min.js"></script>

</body>
</html>

